

body{

    display: grid;
    
   
    
   
    grid-template-areas:    "header header header"
                            "contenido contenido contenido"
                            "contenido contenido contenido"
                            "footer footer footer";


    
       
}


/*HEADER*/


 header {

    grid-area: header;  

 }
    
     
/* MAIN */

main {

    grid-area: contenido;

}
  
    
  /*FOOTER*/
    
  footer {
    grid-area: footer;

  }






    
 











   






