

body{

    display: grid;
    height: 100vh;
    width: 100vw;    
    margin: 1rem;
    background-color: beige;
    
    
  

   
    grid-template-areas:    "header header header"
                            "contenido contenido left"
                            "contenido contenido left"
                            "footer footer footer";


    
   
    
}

/*HEADER*/


header {

    
    grid-area: header;
    background-color: gray;
    position:fixed; left:0rem; top:0rem;
    width: 100vw;
    transition: 1s;
    z-index: 1;
    
       
    
   }


header ul {

    display: flex;
    width: fit-content;
    position:relative; left:35%; top:-0.9rem;
    
    
         
    
}

  
header ul li {

    list-style: none;

} 


header ul li a {
   
    margin: 0 25px;
    color: black;
    letter-spacing: 5px;
    font-size: 2.5vh;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
     

        }


  header ul li a:hover {
    
        background-color: rgb(253, 253, 253);
        color: black;

        }


/* MAIN */

main {
    grid-area: contenido;
    height: 100rem;
    width: 100rem;
    padding-top: 1rem;
    position:relative; left:0rem; top:6rem;
    text-align: center;
      
    
}




/* ASIDE */


aside {

    grid-area: left;
    position:relative; top:7rem;
    margin-top: 1rem;
    height: 100rem;
    width: 10rem;
    position:relative; top:6rem;
    
    
 
}


aside > section {

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid black;

}


aside > section > div { 


    height: auto;
    width: 10rem:
    font-family: 'Dancing Script', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}



/*FOOTER*/


footer {
    grid-area: footer;
    height: auto;
    width: 100vw;
        justify-content: center;
    align-items: center;
    position:relative; left:0rem; top:10rem;
    border: 0.2px solid black;
}



footer  > section {

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    width: fit-content;

}


footer > section > div { 


    height: 5rem;
    width: 10rem:
    font-family: 'Dancing Script', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    border: 0.3rem solid white;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    border: 0.3rem solid black;
}



