
:root {font-size: 16px; }

/* BODY */


*{
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  
  }

  img {
      
    vertical-align: middle;
    
    }


/* BARRA NAVEGACION */


.barra_navegacion { 
  
    width: 100vw;
    height: 25%;
    position:fixed; left:0rem; top:0rem; 
    background-image: url(/img/banner-trans.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #cccccc;
    z-index: 1;
    box-shadow: 1rem 1rem 1rem gray;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1rem 1rem 1rem gray;
    border: 3px solid hsla(133, 25%, 22%, 50%);
    
    
    
    
  }


.banner {

      width: 100vw;
      height: 15%;
      font-family: 'Rajdhani', sans-serif, cursive;
      letter-spacing: 2px;
      color: white;
      font-size: 1.4vw;
      text-align: center;
      padding: 0.3rem;
      background-color: hsla(133, 25%, 22%, 50%);
      
          


}


.logo { 
        
      width: 12vw;
      margin: 0rem;
      position:relative; left:10%; top:25%;
      box-shadow: 1rem 1rem 1rem gray;

                  
  }
       
  
  .menu {

    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    position:relative; top: -6%; left: 31%;
        
    
    

  }

 

header ul li {

  list-style: none;
  

} 


header ul li a {
 
    margin: 0 25px;
    color: hsl(133, 25%, 22%);
    letter-spacing: 5px;
    font-size: 2.5vh;
    font-family: 'Playfair Display', serif, cursive;
    text-decoration: none;
    

      }

  header ul li a:hover {
    
        color:  hsl(34, 56%, 39%);
        text-decoration:underline;
        transition: .2s;
        

        }


        .barra_navegacion_fixed  {  
    
          margin-top: 1rem;
          height: 18%;
          

                 
               
        }
      
      
        .barra_navegacion_fixed > div {

      display: none;
      

  }

  .barra_navegacion_fixed ul {

  position:relative; left: 30%; top: -20%;
  
    
  }


/*     PRINCIPAL      */


.principal {

width: 100vw;
height: 80rem;





}




/* CONTACTO */

.map {  

width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 15rem;
position: relative;
top: 10rem;

}


.contacto {


position: relative;
top: 20rem;
align-items: center;
text-align: center;
margin: 5rem;


}

  
/* CARRUSEL */
    

  .slideshow-container {

    position: relative;
    top: 20rem;
    margin: auto;
    height: 65%;
    overflow: hidden;
    width: 75%;
    max-height: 80rem;
    max-width: 80rem;
    
    
  }

 
 
  .text {
    color: whitesmoke;
    font-size: 1.5rem;
    background-color: hsl(133, 25%, 22%);
    padding: 8px 12px;  
    text-align: center;
    
    
  }
  

    .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
/*            FOOTER                */

 footer {

    
    width: 100vw;
    height: auto;
    position: relative; bottom: 0rem;
    padding: 1rem 0rem;
    background-color: hsl(0, 0%, 88%);
    margin-top: 10rem;
    align-items: center;
   
    

}


.pie-pagina {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    text-align: center;
    
   
}



.footer-box-1 {

    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.5vh;
    font-family: 'Rajdhani', sans-serif, cursive;
    color: hsl(133, 25%, 22%);
    letter-spacing: 3px;
    padding: 2rem;
    
    
}


.footer-box-2 {

  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5vh;
  font-family: 'Rajdhani', sans-serif, cursive;
  color: hsl(133, 25%, 22%);
  letter-spacing: 3px;
  width: 15vw;
   padding-top: 2rem;


}

.footer-box-3 {

  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5vh;
  font-family: 'Rajdhani', sans-serif, cursive;
  color: hsl(133, 25%, 22%);
  letter-spacing: 3px;
  padding: 2rem;
  
}



.logo-cosmetica {

width: 60%;
position: relative;
top: -10%;

}


.footer-box-1 a {

  list-style: none;
  font-size: 1vw;
  line-height: 3rem;
  
  
}


.footer-box-2 a {

    text-decoration: none;
    font-size: 1vw;
}



  #derechos {

      align-items: center;
      text-align: center;
      font-style: bold;
      border-top: 2px solid;
      margin-top: 1rem;
      padding-top: 0.1rem;
      font-weight: bold;
      font-size: 0.9rem;
      
      
      
      

  }




.whatsapp-logo {
    
    
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 50px;
    height: 6rem  

}


.whatsapp-logo:hover {
    opacity: 0.8;

  }






